# Data Preprocessing

In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
# Load Dataset to DataFrame
df = pd.read_csv("C:/Users/besta/Documents/Github/Diabetes-Monitoring/dataset/diabetes_012_health_indicators_BRFSS2015.csv")

In [3]:
# Dataframe Convert from float64 to int64
df = df.astype("int64")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  int64
 1   HighBP                253680 non-null  int64
 2   HighChol              253680 non-null  int64
 3   CholCheck             253680 non-null  int64
 4   BMI                   253680 non-null  int64
 5   Smoker                253680 non-null  int64
 6   Stroke                253680 non-null  int64
 7   HeartDiseaseorAttack  253680 non-null  int64
 8   PhysActivity          253680 non-null  int64
 9   Fruits                253680 non-null  int64
 10  Veggies               253680 non-null  int64
 11  HvyAlcoholConsump     253680 non-null  int64
 12  AnyHealthcare         253680 non-null  int64
 13  NoDocbcCost           253680 non-null  int64
 14  GenHlth               253680 non-null  int64
 15  MentHlth              253680 non-null  int64
 16  PhysHlth              253680 non-null  int64
 17  DiffWalk              253680 non-null  int64
 18  Sex                   253680 non-null  int64
 19  Age                   253680 non-null  int64
 20  Education             253680 non-null  int64
 21  Income                253680 non-null  int64
dtypes: int64(22)
memory usage: 42.6 MB

In [5]:
df.sample(15)

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
196956,0,1,0,1,29,0,0,0,0,1,...,1,0,2,10,0,0,1,7,6,8
81783,0,1,1,1,28,0,0,0,1,1,...,1,0,1,0,0,0,1,9,6,6
191935,0,0,0,1,24,1,0,0,1,0,...,1,0,1,0,0,0,1,3,3,7
148183,0,0,0,1,28,0,0,0,0,0,...,0,1,1,2,23,0,0,4,4,3
110283,0,1,1,1,35,1,0,0,1,1,...,1,0,2,0,7,0,1,13,6,5
31497,0,0,0,1,26,0,0,0,1,0,...,1,0,2,0,0,0,1,3,6,8
63584,0,1,0,1,21,0,0,0,1,1,...,1,0,4,0,0,0,0,13,4,5
112732,2,0,1,1,35,1,0,0,1,1,...,1,0,3,0,0,0,1,11,6,8
243330,2,1,0,1,28,0,0,0,1,0,...,1,0,3,0,30,0,1,10,5,6
233281,0,0,0,1,25,0,0,0,1,1,...,1,0,2,0,0,0,1,7,6,8
250578,2,0,1,1,25,0,0,0,1,1,...,1,0,4,30,0,0,0,9,4,2
70777,0,0,0,1,23,0,0,0,0,1,...,1,0,4,5,12,0,0,11,4,7
22536,2,0,0,1,29,0,0,0,1,1,...,1,0,2,0,0,0,0,9,6,8
185012,0,0,0,1,30,0,0,0,1,0,...,1,0,2,0,0,0,1,7,4,7
173365,0,0,0,1,27,1,0,0,1,1,...,1,0,2,0,0,0,0,10,4,2

# Analysis

In [6]:
df.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [7]:
df.Diabetes_012.value_counts()

0    213703
2     35346
1      4631
Name: Diabetes_012, dtype: int64