Notebook ini dibuat untuk mengtransformasi dataset dari Dtype Float ke int dan merubah beberapa data numerical menjadi object(str)

In [1]:
# Library data manipulation
import pandas as pd

In [2]:
# Loading dataset to df variabel
df = pd.read_csv("../dataset/diabetes_012_health_indicators_BRFSS2015.csv")

# Convert all row to int32
df = df.astype("int")

# Remove "Income" row
df = df.drop(columns="Income")

# See df Infomation of each row like dtype and count column
df.info()

# See first 5 data in df
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  int32
 1   HighBP                253680 non-null  int32
 2   HighChol              253680 non-null  int32
 3   CholCheck             253680 non-null  int32
 4   BMI                   253680 non-null  int32
 5   Smoker                253680 non-null  int32
 6   Stroke                253680 non-null  int32
 7   HeartDiseaseorAttack  253680 non-null  int32
 8   PhysActivity          253680 non-null  int32
 9   Fruits                253680 non-null  int32
 10  Veggies               253680 non-null  int32
 11  HvyAlcoholConsump     253680 non-null  int32
 12  AnyHealthcare         253680 non-null  int32
 13  NoDocbcCost           253680 non-null  int32
 14  GenHlth               253680 non-null  int32
 15  MentHlth              253680 non-null  int32
 16  PhysHlth              253680 non-null  int32
 17  DiffWalk              253680 non-null  int32
 18  Sex                   253680 non-null  int32
 19  Age                   253680 non-null  int32
 20  Education             253680 non-null  int32
dtypes: int32(21)
memory usage: 20.3 MB

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education
0,0,1,1,1,40,1,0,0,0,0,...,0,1,0,5,18,15,1,0,9,4
1,0,0,0,0,25,1,0,0,1,0,...,0,0,1,3,0,0,0,0,7,6
2,0,1,1,1,28,0,0,0,0,1,...,0,1,1,5,30,30,1,0,9,4
3,0,1,0,1,27,0,0,0,1,1,...,0,1,0,2,0,0,0,0,11,3
4,0,1,1,1,24,0,0,0,1,1,...,0,1,0,2,3,0,0,0,11,5

In [3]:
# Transforming data from int to object(str) for better human understanding, PLEASE Ignore Warning Messages
df.Diabetes_012[df['Diabetes_012'] == 0] = 'No Diabetes'
df.Diabetes_012[df['Diabetes_012'] == 1] = 'Prediabetes'
df.Diabetes_012[df['Diabetes_012'] == 2] = 'Diabetes'

df.HighBP[df['HighBP'] == 0] = 'No High BP'
df.HighBP[df['HighBP'] == 1] = 'High BP'

df.HighChol[df['HighChol'] == 0] = 'No High Cholesterol'
df.HighChol[df['HighChol'] == 1] = 'High Cholesterol'

df.CholCheck[df['CholCheck'] == 0] = 'No Cholesterol Check in 5 Years'
df.CholCheck[df['CholCheck'] == 1] = 'Yes Cholesterol Check in 5 Years'

df.Smoker[df['Smoker'] == 0] = 'No'
df.Smoker[df['Smoker'] == 1] = 'Yes'

df.Stroke[df['Stroke'] == 0] = 'No'
df.Stroke[df['Stroke'] == 1] = 'Yes'

df.HeartDiseaseorAttack[df['HeartDiseaseorAttack'] == 0] = 'No'
df.HeartDiseaseorAttack[df['HeartDiseaseorAttack'] == 1] = 'Yes'

df.PhysActivity[df['PhysActivity'] == 0] = 'No'
df.PhysActivity[df['PhysActivity'] == 1] = 'Yes'

df.Fruits[df['Fruits'] == 0] = 'No'
df.Fruits[df['Fruits'] == 1] = 'Yes'

df.Veggies[df['Veggies'] == 0] = 'No'
df.Veggies[df['Veggies'] == 1] = 'Yes'

df.HvyAlcoholConsump[df['HvyAlcoholConsump'] == 0] = 'No'
df.HvyAlcoholConsump[df['HvyAlcoholConsump'] == 1] = 'Yes'

df.AnyHealthcare[df['AnyHealthcare'] == 0] = 'No'
df.AnyHealthcare[df['AnyHealthcare'] == 1] = 'Yes'

df.NoDocbcCost[df['NoDocbcCost'] == 0] = 'No'
df.NoDocbcCost[df['NoDocbcCost'] == 1] = 'Yes'

df.GenHlth[df['GenHlth'] == 1] = 'Excellent'
df.GenHlth[df['GenHlth'] == 2] = 'Very Good'
df.GenHlth[df['GenHlth'] == 3] = 'Good'
df.GenHlth[df['GenHlth'] == 4] = 'Fair'
df.GenHlth[df['GenHlth'] == 5] = 'Poor'

df.DiffWalk[df['DiffWalk'] == 0] = 'No'
df.DiffWalk[df['DiffWalk'] == 1] = 'Yes'

df.Sex[df['Sex'] == 0] = 'Female'
df.Sex[df['Sex'] == 1] = 'Male'

df.Education[df['Education'] == 1] = 'Never Attended School or Only Kindergarten'
df.Education[df['Education'] == 2] = 'Elementary'
df.Education[df['Education'] == 3] = 'Junior High School'
df.Education[df['Education'] == 4] = 'Senior High School'
df.Education[df['Education'] == 5] = 'College'
df.Education[df['Education'] == 6] = 'College Graduate'

C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.HighBP[df['HighBP'] == 0] = 'No High BP'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.HighChol[df['HighChol'] == 0] = 'No High Cholesterol'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.CholCheck[df['CholCheck'] == 0] = 'No Cholesterol Check in 5 Years'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Smoker[df['Smoker'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Stroke[df['Stroke'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.HeartDiseaseorAttack[df['HeartDiseaseorAttack'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.PhysActivity[df['PhysActivity'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Fruits[df['Fruits'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Veggies[df['Veggies'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.HvyAlcoholConsump[df['HvyAlcoholConsump'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.AnyHealthcare[df['AnyHealthcare'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NoDocbcCost[df['NoDocbcCost'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.GenHlth[df['GenHlth'] == 1] = 'Excellent'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.DiffWalk[df['DiffWalk'] == 0] = 'No'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Sex[df['Sex'] == 0] = 'Female'
C:\Users\besta\AppData\Local\Temp\ipykernel_41560\4268923533.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Education[df['Education'] == 1] = 'Never Attended School or Only Kindergarten'

In [4]:
# See df Infomation of each row like dtype and count column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  object
 1   HighBP                253680 non-null  object
 2   HighChol              253680 non-null  object
 3   CholCheck             253680 non-null  object
 4   BMI                   253680 non-null  int32
 5   Smoker                253680 non-null  object
 6   Stroke                253680 non-null  object
 7   HeartDiseaseorAttack  253680 non-null  object
 8   PhysActivity          253680 non-null  object
 9   Fruits                253680 non-null  object
 10  Veggies               253680 non-null  object
 11  HvyAlcoholConsump     253680 non-null  object
 12  AnyHealthcare         253680 non-null  object
 13  NoDocbcCost           253680 non-null  object
 14  GenHlth               253680 non-null  object
 15  MentHlth              253680 non-null  int32
 16  PhysHlth              253680 non-null  int32
 17  DiffWalk              253680 non-null  object
 18  Sex                   253680 non-null  object
 19  Age                   253680 non-null  int32
 20  Education             253680 non-null  object
dtypes: int32(4), object(17)
memory usage: 36.8+ MB

Now some row has been converted to object(str)

In [5]:
# See first 5 data in df
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education
0,No Diabetes,High BP,High Cholesterol,Yes Cholesterol Check in 5 Years,40,Yes,No,No,No,No,...,No,Yes,No,Poor,18,15,Yes,Female,9,Senior High School
1,No Diabetes,No High BP,No High Cholesterol,No Cholesterol Check in 5 Years,25,Yes,No,No,Yes,No,...,No,No,Yes,Good,0,0,No,Female,7,College Graduate
2,No Diabetes,High BP,High Cholesterol,Yes Cholesterol Check in 5 Years,28,No,No,No,No,Yes,...,No,Yes,Yes,Poor,30,30,Yes,Female,9,Senior High School
3,No Diabetes,High BP,No High Cholesterol,Yes Cholesterol Check in 5 Years,27,No,No,No,Yes,Yes,...,No,Yes,No,Very Good,0,0,No,Female,11,Junior High School
4,No Diabetes,High BP,High Cholesterol,Yes Cholesterol Check in 5 Years,24,No,No,No,Yes,Yes,...,No,Yes,No,Very Good,3,0,No,Female,11,College

Now we can understand data without Codebook again

In [6]:
# Export dataset to csv in dataset folder
df.to_csv("../dataset/Diabetes_Clean.csv")